.forecastHeading {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 10px;
  width: 400px;
  max-height: 300px;
}

.forecastHeadingCF {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 10px;
  width: 400px;
  max-height: 300px;
  text-align: right;
}

.forecast-dayDate {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 2.2rem;
  margin-left: 6px;
}

.weatherIcons {
  padding-top: 20px;
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(78%) saturate(31%)
    hue-rotate(130deg) brightness(107%) contrast(107%);
  will-change: transform;
  transition: 600ms ease-in;
}
.weatherIcons:hover {
  transform: scale(1.05);
  transition: 500ms ease-in;
}

.day {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.forecastTemperature {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 2.2rem;
  padding-top: 10px;
  margin-right: 10px;
}
.forecastTemperatureMin {
  opacity: 0.5;
  padding-left: 3px;
}

.forecastCelcius {
  opacity: 0.5;
  padding-left: 15px;
  font-weight: 300;
}

.border-dates-forecast {
  border-right: #ffff 1px solid;
  text-align: center;
  padding-right: 22px;
  margin-left: 5px;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.3);
}

.border-left-forecast {
  margin-right: 5px;
  border-right: #ffff 1px solid;
  height: 68px;
  width: 1px;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.3);
}

.forecast-icon {
  margin-right: 5px;
  margin-top: 20px;
}
